//
// Front Page
//

.home {
    
    .sticky-header {
        height: auto!important;        
    }
    
    .site-header {
        @include breakpoint(large) {
            background-color: transparent!important;
            position: absolute!important;  
            
            &.nav-up {
                transform: none!important;   
            }
            &.nav-down {
                transition: none!important;   
                
                &:after {
                    display: none;   
                }
            }
        }
    }
    
    .site-content {
        padding-bottom: 0;   
    }
    
}

.home .section-hero {
    .wrap {
        background-size: cover;    
        
        text-align: center;
            
        .row {
            min-height: 300px;
            padding: 45px 0;   
            
            @include breakpoint(large) {
                min-height: 560px;
            }
        }
        
        @include breakpoint(large) {
            .hero-caption {
                position: relative;
                top: rem-calc(-50);
                margin: 0 auto;
                max-width: rem-calc(700);   
            }
        }
        

        h1 {
            color: $primary;   
        }
        
        h3 {
            font-family: Georgia, 'Times New Roman', Times, serif;  
            font-style: italic; 
            letter-spacing: 0.3px; 
            text-shadow: 0 0 8px #FFFFFF;  
        }

    }
            
}


.section-what-we-do {
    
    .wrap {
        padding: rem-calc(30 0 15);
    }
    
    @include breakpoint(large) {
        .shrink {
            flex: 0 0 auto!important;
            max-width: rem-calc(400);
        }  
        
        .column-block {
            margin-bottom: 0;   
        }
    }
    
    .grid-item {
        display: block;
        max-width: 168px;
        margin: 0 auto; 
        text-align: center;
        
        .thumbnail {
            margin-bottom: rem-calc(15);   
        }
        
        p {
            color: $paragraph-font-color;   
        }
    }
}


.home .section-background-hero {
    
    .wrap {
        padding: rem-calc(20 0); 
        background-size: cover;  
    }
    
    .row {
        min-height: rem-calc(400); 
        
        h1,
        h2,
        h3 {
            color: #fff;   
        }
    }
}

.section-why {
 
    .wrap {
        padding: rem-calc(45 0);   
    }
    
    header {
        margin-bottom: rem-calc(40);  
        
        h3 {
            font-family: Georgia, 'Times New Roman', Times, serif;  
            font-style: italic;    
        }
    }
    
    .element-button {
        margin-top: rem-calc(25);  
    }
    
    .grid-item {
        
        @include breakpoint(large) {
            padding: rem-calc(0 30);
        }
        
        text-align: center;
        img {
            box-shadow: $box-shadow;   
            margin-bottom: rem-calc(15);
        }
        
        h3 {
            color: $dark-gray;   
        }
    }
    
    .grid .large-up-3 .column {
        @include breakpoint(large) {
            &:nth-child(3n+2),
            &:nth-child(3n+3) {
                border-left: 1px solid #d6d6d6;
            }
        }
    }
}